* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    background-color: #F1F5F8;
}

main {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.squares {
    width: 100%;
    max-width: 460px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
}

.square {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5C738B;
    font-size: 24px;
    user-select: none;
    width: 100%;
    border-radius: 8px;
    color: #ffffff;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square.is-active {
    outline: 4px solid lightgreen;
    color: lightgreen;
}
